# # 1 Discuss string slicing and provide examples ?

In [2]:

#answer:
"""
String slicing in Python allows you to extract a portion of a string by specifying a start and end index
syntax:string_name[start_index:end_index]
syntax :string_name[star_index:end_index:step that you want to jump]
by default syntax:string_name[: :] here bydefault start index is index 0 and end index is last index and step is by default 1.
"""
str="pwskills"
str[: :]

'pwskills'

In [3]:
# last three index 
str[-3: :]

'lls'

In [4]:
# reversr index 
str[ : :-1]

'sllikswp'

In [5]:
# want to print 2 nd index to last and jump 1 step 
str[1:9:2]

'wkls'

In [6]:
# normally print 1st to last 
str[0:9]

'pwskills'

# 2. Explain the key features of lists in Python ?

In [31]:
# some key features of list 
"""
1> ordered  thats why indexing allow 
2> we use append() function 
3> removing an item of a list 
4>delete
5>clear
6>sort
7>iterable
8>extend
9>insert
10>deep copy shallow copy 
11>poping the elements
12>list comprehension 
"""
# ordered  thats why indexing allow
l=[1,2,2.2,"ram",True]
l[3]

'ram'

In [32]:
# we use append() function
list2=["apple","orange"]
list2.append("banana")
list2

['apple', 'orange', 'banana']

In [33]:
# removing an item of a list 
list2.remove("banana")

In [34]:
list2

['apple', 'orange']

In [35]:
# clear()
list2.clear()

In [36]:
list2

[]

In [37]:
# delete
del list2

In [38]:
list2

NameError: name 'list2' is not defined

In [39]:
# sort
l=['apple', 'orange', 'banana','mango']
# now use sorting 
sorted(l)

['apple', 'banana', 'mango', 'orange']

In [40]:
# iterable
for i in l:
    print(i)

apple
orange
banana
mango

In [41]:
# extend the list
my_list=["apple","orange","bamana"]
brothers_list=["mango","jackfruit"]
my_list.extend(brothers_list) 
my_list

['apple', 'orange', 'bamana', 'mango', 'jackfruit']

In [42]:
# insert
my_list.insert(2,"strawberry")
my_list

['apple', 'orange', 'strawberry', 'bamana', 'mango', 'jackfruit']

In [43]:
# poping 
my_list.pop() # pop the last index of a list

'jackfruit'

In [44]:
my_list

['apple', 'orange', 'strawberry', 'bamana', 'mango']

In [45]:
# repeating
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [46]:
# deep copy shallow copy 
# this is the concept of shallow copy 
my_list=['apple', 'orange', 'strawberry', 'bamana', 'mango']
brothers_list=["potato","brinjal"]
brothers_list=my_list
brothers_list

['apple', 'orange', 'strawberry', 'bamana', 'mango']

In [47]:
# deep copy
# deepcopy:will not change the value of another list
grocery_list=["potato","orange",1,2.2,True,(3+4j)]
grocery_list

['potato', 'orange', 1, 2.2, True, (3+4j)]

In [48]:
 b=grocery_list.copy() #here .copy()function create a new memory block and pointed the new memory block as b so if we chande inside b then no change in grocery_List
b

['potato', 'orange', 1, 2.2, True, (3+4j)]

In [49]:
b[0]="mango" # here we change the 0th index value. that might be change in b but not grocery_list 
b

['mango', 'orange', 1, 2.2, True, (3+4j)]

In [51]:
grocery_list

['potato', 'orange', 1, 2.2, True, (3+4j)]

In [52]:
prices=[10,20,30,40,50]
double_prices=[]
for i in prices:
    double_prices.append(i*2)

In [53]:
double_prices

[20, 40, 60, 80, 100]

In [54]:
# list comprehension means in better way or in small way we can write the code
double_prices=[prices*2 for prices in prices] # this is the tecnique

In [55]:
double_prices

[20, 40, 60, 80, 100]

# 3.Describe how to access, modify, and delete elements in a list with examples ?

In [1]:
# Sometimes, while working with data, we can have a problem in which we need to perform update operations
# There are various ways to update a list in Python here, we are discussing some generally used methods for update list in Python which are the following.
"""
1.using list comprehension method 
2.using extend() method 
3.using zip() function 
4. using insert function 
5. using concatenation
6. using capitalize() method
"""

'\n1.using list comprehension method \n2.using extend() method \n3.using zip() function \n4. using insert function \n5. using concatenation \n'

In [2]:
# 1.using list comprehension method 
num=[20, 40, 60, 80, 100]
square=[num **2 for num in num]
print(square)

[400, 1600, 3600, 6400, 10000]

In [3]:
# 2.using extend() method 
my_list=["apple","orange","bamana"]
brothers_list=["mango","jackfruit"]
my_list.extend(brothers_list) 
my_list

['apple', 'orange', 'bamana', 'mango', 'jackfruit']

In [5]:
# using zip function 
my_list=["apple","orange","bamana"]
price=[100,200,300]
ans=zip(my_list,price)
print(set(ans))

{('orange', 200), ('apple', 100), ('bamana', 300)}

In [7]:
# using insert function
my_list=["apple","orange","bamana"]
my_list.insert(1,"mango")

In [8]:
my_list

['apple', 'mango', 'orange', 'bamana']

In [11]:
l1=["niki","kalyan","krishna"]
l3=["biriyani","panir","butter"]
ans=l1+l3
print(ans)

['niki', 'kalyan', 'krishna', 'biriyani', 'panir', 'butter']

In [14]:
# capitalize
l1=["niki","kalyan","krishna"]
[l1.capitalize()for l1 in l1]

['Niki', 'Kalyan', 'Krishna']

# 4.Compare and contrast tuples and lists with examples .

In [19]:
# list :
"""
list are mutable .
it is more time consuming than tuple 
the list is better for performing operations,such as insertion,deletion .
list consumes more memory 
list have several built in methods 
"""
# tuple
"""
tuple are immutable
the implication of iteration is faster(comparatively)
the tuple is  not better for performing operations(comparatively)
tuple consumes less memory
tuple does not have more built_in methods.
"""
# main difference is list is mutable and tuple is immutable
list1=[11,12,2.4,True,4+6j,"ram"]

In [22]:
list1[1]

12

In [23]:
list1[1]=100

In [25]:
list1 # here we can change any value after creation

[11, 100, 2.4, True, (4+6j), 'ram']

In [26]:
# tuple
tup=(11,12,2.4,True,4+6j,"ram")
tup[0]

11

In [28]:
tup[0]=100 # here error occurs when we try to change the oth index value means after creation we can not exchande any value

TypeError: 'tuple' object does not support item assignment

In [31]:
# some operation of tuple
tuple2=("pw",1,1,1,2.3,"tam","ram",True)
tuple2[0:4]

('pw', 1, 1, 1)

In [32]:
tuple2[: : -1]

(True, 'ram', 'tam', 2.3, 1, 1, 1, 'pw')

In [33]:
for i in tuple2:
    print(i,type(i))

pw <class 'str'>
1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
2.3 <class 'float'>
tam <class 'str'>
ram <class 'str'>
True <class 'bool'>

In [4]:
# use case
# list inside tuple
tup1=((1,2,3,4),["ram",True],"pw",["kalyan","niki"])
tup1

((1, 2, 3, 4), ['ram', True], 'pw', ['kalyan', 'niki'])

#  Describe the key features of sets and provide examples of their use .

In [5]:
# sets are unordered and unique collection of element 
# it does not allow duplicate elements 
# indexing not allowed
# item of set in python are immutable .
# some operation of set
s={1,2,2,"ajay","AJAY","ajay"} # set id defined by {}, inside braces put normal value(means int,float,bool,etc)not key value pair 
type(s)

set

In [6]:
# use case
list1=["pw",1,1,1,2.3,"tam","ram","ram","ram",True,3+4j]
s=set(list1)
s

{(3+4j), 1, 2.3, 'pw', 'ram', 'tam'}

In [7]:
# set inside set it gives the error 
s={{1,2,3},4,5,{44,34}}
s

TypeError: unhashable type: 'set'

In [15]:
s={"pw",1,1,1,2.3,"tam","ram","ram","ram",3+4j} # here does not allow duplicate element 
s

{(3+4j), 1, 2.3, 'pw', 'ram', 'tam'}

In [16]:
# indexing not allow
s[0]

TypeError: 'set' object is not subscriptable

In [17]:
s.pop()

1

In [18]:
s.remove('pw')
s

{(3+4j), 2.3, 'ram', 'tam'}

In [ ]:
# pop and remove are use for deleting elements 
# pop ->> any element can delete
# remove->> only selected element can delete

In [20]:
# update 
s.update(["niki"])

In [21]:
s

{(3+4j), 2.3, 'niki', 'ram', 'tam'}

In [24]:
s.update([1,2,3])

In [25]:
s

{(3+4j), 1, 2, 2.3, 3, 'niki', 'ram', 'tam'}

In [26]:
s.add("love")

In [27]:
s

{(3+4j), 1, 2, 2.3, 3, 'love', 'niki', 'ram', 'tam'}

In [28]:
s.discard(111)

In [29]:
s

{(3+4j), 1, 2, 2.3, 3, 'love', 'niki', 'ram', 'tam'}

In [30]:
s.clear()

In [31]:
s

set()

In [32]:
# set operations 
# union:combines all elements from two sets excluding duplicates 
# intersection:only common elements between sets
# set difference:return the elements that are present in first set not in the second set 
# symmetric difference:return except the common element means  present in either of sets but not both
s1={"hiking","reading","coding"}
s2={"coding","photography","traveling"}

In [33]:
# union 
s1 | s2

{'coding', 'hiking', 'photography', 'reading', 'traveling'}

In [34]:
# intersection 
s1&s2

{'coding'}

In [35]:
# set difference
s1-s2

{'hiking', 'reading'}

In [36]:
# symmetric difference
s1 ^ s2

{'hiking', 'photography', 'reading', 'traveling'}

In [37]:
# frozen sets ->> immutable version of set ,cannot be added or removed any new element 
my_fs=frozenset([1,2,2,2,3,3,4,5])
my_fs

frozenset({1, 2, 3, 4, 5})

In [38]:
type(my_fs)

frozenset

In [39]:
my_fs.add(22)

AttributeError: 'frozenset' object has no attribute 'add'

# 6. Discuss the use cases of tuples and sets in Python programming ?

In [43]:
# use case of set
# set operations 
# union:combines all elements from two sets excluding duplicates 
# intersection:only common elements between sets
# set difference:return the elements that are present in first set not in the second set 
# symmetric difference:return except the common element means  present in either of sets but not both
# A common use of sets in Python is computing standard math operations such as union, intersection, difference, and symmetric difference.
s1={"hiking","reading","coding"}
s2={"coding","photography","traveling"}

In [44]:
# union 
s1 | s2

{'coding', 'hiking', 'photography', 'reading', 'traveling'}

In [45]:
# intersection 
s1 & s1

{'coding', 'hiking', 'reading'}

In [46]:
# diff
s1-s2

{'hiking', 'reading'}

In [47]:
# symmetric
s1 ^ s2

{'hiking', 'photography', 'reading', 'traveling'}

In [49]:
# use case of tuple
tuple2=("pw",1,1,1,2.3,"tam","ram",True)
for i in tuple2:
    print(i,type(i))

pw <class 'str'>
1 <class 'int'>
1 <class 'int'>
1 <class 'int'>
2.3 <class 'float'>
tam <class 'str'>
ram <class 'str'>
True <class 'bool'>

In [50]:
# another usecase 
# list inside tuple
tup1=((1,2,3,4),["ram",True],"pw",["kalyan","niki"])
tup1

((1, 2, 3, 4), ['ram', True], 'pw', ['kalyan', 'niki'])

# 7. Describe how to add, modify,and delete items in a dictionary with examples .

In [14]:
# Dictionaries in Python is a data structure, used to store values in key: value format. This makes it different from lists, tuples, and arrays as in a dictionary each key has an associated value.
# Note: As of Python version 3.7, dictionaries are ordered and can not contain duplicate keys.
# dictionary is defined like dicti={} ,here dicti is variable 
# ex: of  dictionary {}
d={"name":"niki","age":20,"studied ":"geography horns"}
d

{'name': 'niki', 'age': 20, 'studied ': 'geography horns'}

In [15]:
# add key values
d["address"]="bamgalore" # add new key value pair

In [16]:
d

{'name': 'niki',
 'age': 20,
 'studied ': 'geography horns',
 'address': 'bamgalore'}

In [17]:
# another add
d["real_name"]="love"

In [18]:
print (d)

{'name': 'niki', 'age': 20, 'studied ': 'geography horns', 'address': 'bamgalore', 'real_name': 'love'}

In [19]:
# here delete operation 
del d ["real_name"]

In [20]:
# here real name column must be deleted 
print (d)

{'name': 'niki', 'age': 20, 'studied ': 'geography horns', 'address': 'bamgalore'}

In [21]:
type(d)

dict

In [22]:
# we can delete this way also but here only one key will be deleted
d.pop("address")

'bamgalore'

In [23]:
d

{'name': 'niki', 'age': 20, 'studied ': 'geography horns'}

In [24]:
# here all data clear
d.clear()

In [25]:
d

{}

In [26]:
# now modify 
d1={'name': 'niki', 'age': 20, 'studied ': 'geography horns', 'address': 'bamgalore'}
d1

{'name': 'niki',
 'age': 20,
 'studied ': 'geography horns',
 'address': 'bamgalore'}

In [27]:
# you want to modify the address bangalore to kolkata
d1["address"]="kolkata"
print(d1)

{'name': 'niki', 'age': 20, 'studied ': 'geography horns', 'address': 'kolkata'}

In [28]:
# using zip function 
#zip function dictionary comprehension 
student=["ajay","kalyan","nikita"]
marks=[99,95,96]
{student:marks for student,marks in zip(student,marks)}

{'ajay': 99, 'kalyan': 95, 'nikita': 96}

In [29]:
d2={"course":"data science"}
# here we update d1 dictionary by d2
d1.update(d2)
print(d1)

{'name': 'niki', 'age': 20, 'studied ': 'geography horns', 'address': 'kolkata', 'course': 'data science'}

In [30]:
# if you want to delete the whole dictionary 
del d1

In [31]:
d1

NameError: name 'd1' is not defined

In [38]:
# if you want to see the dict values and keys 
d2={'name': 'niki', 'age': 20, 'studied ': 'geography horns', 'address': 'kolkata'}
d2.keys()

dict_keys(['name', 'age', 'studied ', 'address'])

In [39]:
d2.values()

dict_values(['niki', 20, 'geography horns', 'kolkata'])

# 8. Discuss the importance of dictionary keys being immutable and provide examples .

In [33]:
#
"""
In Python, dictionary keys must be immutable, which means they cannot be changed after they are created.
This requirement is crucial for several reasons:
"""
# 1. Hashability:
"""
Consider a dictionary with a list as a key. If the list could change,the hash value would change, and the dictionary would 
no longer be able to locate the correct value associated with that list.
"""
# you cannot use list set  as a  key
d={[1,2,3]:"abc"} # error occurs because list are mutable and unhashable
d

TypeError: unhashable type: 'list'

In [34]:
# 2. Consistency and Integrity:
"""
 If tuples (which are immutable) are used as keys, the key-value pairs remain reliable, as the tuples’ contents cannot be altered.
 """
d={(1,2,3):"abc"} # error  does not occurs because tuple are immutable and hashable we can use the tuple as a key 
d

{(1, 2, 3): 'abc'}

In [35]:
# another example of immutable and hashable
# String as a key, which is immutable and hashable
my_dict = {"name": "Ravan", "age": 30}
print(my_dict["name"])  # it is absolutely running because "immutable and hashable"

Ravan

In [37]:
# 4. Logical Integrity of Code:
"""
 Immutable keys like integers or strings maintain the logical flow and reliability of dictionary operations.
 """
# example of immutuable and hashable 
# Integer as a key, which is immutable and hashable
my_dict = {111: "one", 222: "two", 333: "three"}
print(my_dict[333])  
# it is absolutely running

three